In [62]:
import re
import pandas as pd
import numpy as np
from tableone import TableOne
from scipy import stats
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report, accuracy_score, precision_recall_fscore_support, confusion_matrix, precision_score, recall_score, roc_auc_score

In [63]:
url = "https://raw.githubusercontent.com/4GeeksAcademy/logistic-regression-project-tutorial/main/bank-marketing-campaign-data.csv"

In [64]:
df = pd.read_csv(url, sep = ";")
df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [65]:
def is_binary(df_, nums):
    df = df_.copy()
    variables = []
    for var in nums:
        flag = True
        unique = df_[var].unique()
        for value in unique:
            if value not in [0, 1, np.nan, 0.0, 1.0]:
                flag = False
        if flag == True:
            variables.append(var)
    return variables


def breakdown_vars(df):
    """
    This function allow us categorize accodign to numerical or not
    """
    categorial = []
    nonormal = []
    normal = []
    binaries = is_binary(df, df.columns)
    for t in df.columns:
            if (df[t].dtypes.name=="object" or df[t].dtypes.name=='category') and t not in binaries:
                categorial.append(t)
            if (df[t].dtypes=="int64" or df[t].dtypes=="float64") and t not in binaries:
              n,p = stats.shapiro(df[t])
              if p<0.05:
                nonormal.append(t)
              else:
                normal.append(t)
    return categorial, binaries, nonormal, normal

def Xy(df,target):
    """
    Split the data in X,y to ML implementations
    """
    X = df.loc[ : , df.columns != target]
    y = df[target].astype('int')
    return X,y

def grid_lr(X_train, y_train):
    model = LogisticRegression(random_state=666, max_iter=1000)
    class_weight =  [{0:0.05, 1:0.95}, {0:0.1, 1:0.9}, {0:0.2, 1:0.8},{0:0.02, 1:0.98},{0:0.5, 1:0.5}]
    solvers = ['liblinear']
    penalty = ['l2', 'l1']
    c_values = [1000, 100, 10, 1.0, 0.1, 0.01, 0.001]
    grid = dict(solver=solvers,penalty=penalty,C=c_values, class_weight= class_weight)
    cv = RepeatedStratifiedKFold(n_splits=15, n_repeats=3, random_state=1)
    grid_search = GridSearchCV(estimator=model, param_grid=grid, n_jobs=-1, cv=cv,
                           scoring='f1',error_score='raise')
    grid_result = grid_search.fit(X_train, y_train)
    return  grid_result.best_estimator_

In [66]:
categorial, binaries, nonormal, normal = breakdown_vars(df)

In [67]:
df['y'] = np.where(df['y']=='yes',int(1),int(0))

In [68]:
df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,1
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,0
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,0
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,1
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,0

In [69]:
mytable = TableOne(df,
                   categorical=categorial,
                   nonnormal=nonormal,
                   groupby= 'y',
                   pval=True)

In [70]:
print(mytable.tabulate(tablefmt = "fancy_grid"))

╒════════════════════════════════╤═════════════════════╤═══════════╤════════════════════════╤════════════════════════╤════════════════════════╤═══════════╕
│                                │                     │ Missing   │ Overall                │ 0                      │ 1                      │ P-Value   │
╞════════════════════════════════╪═════════════════════╪═══════════╪════════════════════════╪════════════════════════╪════════════════════════╪═══════════╡
│ n                              │                     │           │ 41188                  │ 36548                  │ 4640                   │           │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│ age, median [Q1,Q3]            │                     │ 0         │ 38.0 [32.0,47.0]       │ 38.0 [32.0,47.0]       │ 37.0 [31.0,50.0]       │ 0.016     │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│ job, n (%)                     │ admin.              │           │ 10422 (25.3)           │ 9070 (24.8)            │ 1352 (29.1)            │ <0.001    │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│                                │ blue-collar         │           │ 9254 (22.5)            │ 8616 (23.6)            │ 638 (13.8)             │           │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│                                │ entrepreneur        │           │ 1456 (3.5)             │ 1332 (3.6)             │ 124 (2.7)              │           │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│                                │ housemaid           │           │ 1060 (2.6)             │ 954 (2.6)              │ 106 (2.3)              │           │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│                                │ management          │           │ 2924 (7.1)             │ 2596 (7.1)             │ 328 (7.1)              │           │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│                                │ retired             │           │ 1720 (4.2)             │ 1286 (3.5)             │ 434 (9.4)              │           │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│                                │ self-employed       │           │ 1421 (3.5)             │ 1272 (3.5)             │ 149 (3.2)              │           │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│                                │ services            │           │ 3969 (9.6)             │ 3646 (10.0)            │ 323 (7.0)              │           │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│                                │ student             │           │ 875 (2.1)              │ 600 (1.6)              │ 275 (5.9)              │           │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│                                │ technician          │           │ 6743 (16.4)            │ 6013 (16.5)            │ 730 (15.7)             │           │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│                                │ unemployed          │           │ 1014 (2.5)             │ 870 (2.4)              │ 144 (3.1)              │           │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│                                │ unknown             │           │ 330 (0.8)              │ 293 (0.8)              │ 37 (0.8)               │           │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│ marital, n (%)                 │ divorced            │           │ 4612 (11.2)            │ 4136 (11.3)            │ 476 (10.3)             │ <0.001    │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│                                │ married             │           │ 24928 (60.5)           │ 22396 (61.3)           │ 2532 (54.6)            │           │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│                                │ single              │           │ 11568 (28.1)           │ 9948 (27.2)            │ 1620 (34.9)            │           │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│                                │ unknown             │           │ 80 (0.2)               │ 68 (0.2)               │ 12 (0.3)               │           │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│ education, n (%)               │ basic.4y            │           │ 4176 (10.1)            │ 3748 (10.3)            │ 428 (9.2)              │ <0.001    │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│                                │ basic.6y            │           │ 2292 (5.6)             │ 2104 (5.8)             │ 188 (4.1)              │           │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│                                │ basic.9y            │           │ 6045 (14.7)            │ 5572 (15.2)            │ 473 (10.2)             │           │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│                                │ high.school         │           │ 9515 (23.1)            │ 8484 (23.2)            │ 1031 (22.2)            │           │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│                                │ illiterate          │           │ 18 (0.0)               │ 14 (0.0)               │ 4 (0.1)                │           │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│                                │ professional.course │           │ 5243 (12.7)            │ 4648 (12.7)            │ 595 (12.8)             │           │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│                                │ university.degree   │           │ 12168 (29.5)           │ 10498 (28.7)           │ 1670 (36.0)            │           │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│                                │ unknown             │           │ 1731 (4.2)             │ 1480 (4.0)             │ 251 (5.4)              │           │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│ default, n (%)                 │ no                  │           │ 32588 (79.1)           │ 28391 (77.7)           │ 4197 (90.5)            │ <0.001    │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│                                │ unknown             │           │ 8597 (20.9)            │ 8154 (22.3)            │ 443 (9.5)              │           │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│                                │ yes                 │           │ 3 (0.0)                │ 3 (0.0)                │                        │           │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│ housing, n (%)                 │ no                  │           │ 18622 (45.2)           │ 16596 (45.4)           │ 2026 (43.7)            │ 0.058     │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│                                │ unknown             │           │ 990 (2.4)              │ 883 (2.4)              │ 107 (2.3)              │           │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│                                │ yes                 │           │ 21576 (52.4)           │ 19069 (52.2)           │ 2507 (54.0)            │           │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│ loan, n (%)                    │ no                  │           │ 33950 (82.4)           │ 30100 (82.4)           │ 3850 (83.0)            │ 0.579     │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│                                │ unknown             │           │ 990 (2.4)              │ 883 (2.4)              │ 107 (2.3)              │           │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│                                │ yes                 │           │ 6248 (15.2)            │ 5565 (15.2)            │ 683 (14.7)             │           │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│ contact, n (%)                 │ cellular            │           │ 26144 (63.5)           │ 22291 (61.0)           │ 3853 (83.0)            │ <0.001    │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│                                │ telephone           │           │ 15044 (36.5)           │ 14257 (39.0)           │ 787 (17.0)             │           │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│ month, n (%)                   │ apr                 │           │ 2632 (6.4)             │ 2093 (5.7)             │ 539 (11.6)             │ <0.001    │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│                                │ aug                 │           │ 6178 (15.0)            │ 5523 (15.1)            │ 655 (14.1)             │           │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│                                │ dec                 │           │ 182 (0.4)              │ 93 (0.3)               │ 89 (1.9)               │           │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│                                │ jul                 │           │ 7174 (17.4)            │ 6525 (17.9)            │ 649 (14.0)             │           │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│                                │ jun                 │           │ 5318 (12.9)            │ 4759 (13.0)            │ 559 (12.0)             │           │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│                                │ mar                 │           │ 546 (1.3)              │ 270 (0.7)              │ 276 (5.9)              │           │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│                                │ may                 │           │ 13769 (33.4)           │ 12883 (35.2)           │ 886 (19.1)             │           │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│                                │ nov                 │           │ 4101 (10.0)            │ 3685 (10.1)            │ 416 (9.0)              │           │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│                                │ oct                 │           │ 718 (1.7)              │ 403 (1.1)              │ 315 (6.8)              │           │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│                                │ sep                 │           │ 570 (1.4)              │ 314 (0.9)              │ 256 (5.5)              │           │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│ day_of_week, n (%)             │ fri                 │           │ 7827 (19.0)            │ 6981 (19.1)            │ 846 (18.2)             │ <0.001    │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│                                │ mon                 │           │ 8514 (20.7)            │ 7667 (21.0)            │ 847 (18.3)             │           │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│                                │ thu                 │           │ 8623 (20.9)            │ 7578 (20.7)            │ 1045 (22.5)            │           │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│                                │ tue                 │           │ 8090 (19.6)            │ 7137 (19.5)            │ 953 (20.5)             │           │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│                                │ wed                 │           │ 8134 (19.7)            │ 7185 (19.7)            │ 949 (20.5)             │           │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│ duration, median [Q1,Q3]       │                     │ 0         │ 180.0 [102.0,319.0]    │ 163.5 [95.0,279.0]     │ 449.0 [253.0,741.2]    │ <0.001    │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│ campaign, median [Q1,Q3]       │                     │ 0         │ 2.0 [1.0,3.0]          │ 2.0 [1.0,3.0]          │ 2.0 [1.0,2.0]          │ <0.001    │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│ pdays, median [Q1,Q3]          │                     │ 0         │ 999.0 [999.0,999.0]    │ 999.0 [999.0,999.0]    │ 999.0 [999.0,999.0]    │ <0.001    │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│ previous, median [Q1,Q3]       │                     │ 0         │ 0.0 [0.0,0.0]          │ 0.0 [0.0,0.0]          │ 0.0 [0.0,1.0]          │ <0.001    │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│ poutcome, n (%)                │ failure             │           │ 4252 (10.3)            │ 3647 (10.0)            │ 605 (13.0)             │ <0.001    │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│                                │ nonexistent         │           │ 35563 (86.3)           │ 32422 (88.7)           │ 3141 (67.7)            │           │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│                                │ success             │           │ 1373 (3.3)             │ 479 (1.3)              │ 894 (19.3)             │           │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│ emp.var.rate, median [Q1,Q3]   │                     │ 0         │ 1.1 [-1.8,1.4]         │ 1.1 [-1.8,1.4]         │ -1.8 [-1.8,-0.1]       │ <0.001    │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│ cons.price.idx, median [Q1,Q3] │                     │ 0         │ 93.7 [93.1,94.0]       │ 93.9 [93.1,94.0]       │ 93.2 [92.9,93.9]       │ <0.001    │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│ cons.conf.idx, median [Q1,Q3]  │                     │ 0         │ -41.8 [-42.7,-36.4]    │ -41.8 [-42.7,-36.4]    │ -40.4 [-46.2,-36.1]    │ <0.001    │
├────────────────────────────────┼─────────────────────┼───────────┼────────────────────────┼────────────────────────┼────────────────────────┼───────────┤
│ euribor3m, median [Q1,Q3]      │                     │ 0         │ 4.9 [1.3,5.0]          │ 4.9 [1.4,5.0]          │ 1.3 [0.8,4.4]          │ <0.001    │

In [71]:
df.drop(columns=['loan','housing'], inplace = True)

In [72]:
def normalize(array):
  return (array - array.mean())/array.std()

In [73]:
def Xy(df,target):
    """
    Split the data in X,y to ML implementations
    """
    X = df.loc[ : , df.columns != target]
    y = df[target].astype('int')
    return X,y
X , y = Xy(df,'y')

In [89]:
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    test_size=0.3,
                                                    shuffle = True,
                                                    random_state = 123,
                                                    stratify = y)

In [91]:
ls

model.ipynb

In [95]:
X_train.to_csv('/workspaces/Logistic-Regression-Project/data/X_train.csv')
X_test.to_csv('/workspaces/Logistic-Regression-Project/data/X_test.csv')
y_train.to_csv('/workspaces/Logistic-Regression-Project/data/y_train.csv')
y_test.to_csv('/workspaces/Logistic-Regression-Project/data/y_test.csv')

In [75]:
meanage = X_train['age'].mean()
stdage = X_train['age'].std()
meanduration = X_train['duration'].mean()
stdduration = X_train['duration'].std()
meancampaign = X_train['campaign'].mean()
stdcampaign = X_train['campaign'].std()
meanpdays = X_train['pdays'].mean()
stdpdays = X_train['pdays'].std()
meanprevious = X_train['previous'].mean()
stdprevious = X_train['previous'].std()
meanemp = X_train['emp.var.rate'].mean()
stdemp = X_train['emp.var.rate'].std()
meanconsp = X_train['cons.price.idx'].mean()
stdconsp = X_train['cons.price.idx'].std()
meanconsc = X_train['cons.conf.idx'].mean()
stdconsc = X_train['cons.conf.idx'].std()
meaneur = X_train['euribor3m'].mean()
stdeur = X_train['euribor3m'].std()
meannremp = X_train['nr.employed'].mean()
stdnremp = X_train['nr.employed'].std()

In [76]:
num = normal + nonormal
for numerical in num:
  X_train[numerical] = normalize(X_train[numerical].to_numpy())

In [77]:
categorial, binaries, nonormal, normal = breakdown_vars(X_train)

In [78]:
X_train['job'] = np.where(X_train['job'] == 'unknown','unkn',X_train['job'])
X_train['marital'] = np.where(X_train['marital'] == 'unknown','unk',X_train['marital'])
X_train['marital'] = np.where(X_train['marital'] == 'unkn','unk',X_train['marital'])
X_train['education'] = np.where(X_train['education'] == 'unknown','uk',X_train['education'])
X_train['education'] = np.where(X_train['education'] == 'unkn','unk',X_train['education'])

In [79]:
X_test['job'] = np.where(X_test['job'] == 'unknown','unkn',X_test['job'])
X_test['marital'] = np.where(X_test['marital'] == 'unknown','unk',X_test['marital'])
X_test['marital'] = np.where(X_test['marital'] == 'unkn','unk',X_test['marital'])
X_test['education'] = np.where(X_test['education'] == 'unknown','uk',X_test['education'])
X_test['education'] = np.where(X_test['education'] == 'unkn','unk',X_test['education'])

In [80]:
X_test['age'] = (X_test['age']-meanage)/stdage
X_test['duration'] = (X_test['duration']-meanduration)/meanduration
X_test['campaign'] = (X_test['campaign']-meancampaign)/stdcampaign
X_test['pdays'] = (X_test['pdays']-meanpdays)/stdpdays
X_test['previous'] = (X_test['previous']-meanprevious)/stdprevious
X_test['emp.var.rate'] = (X_test['emp.var.rate']-meanemp)/stdemp
X_test['cons.price.idx'] = (X_test['cons.price.idx']-meanconsp)/stdconsp
X_test['cons.conf.idx'] = (X_test['cons.conf.idx']-meanconsc)/stdconsc
X_test['euribor3m'] = (X_test['euribor3m']-meaneur)/stdeur
X_test['nr.employed'] = (X_test['nr.employed']-meannremp)/stdnremp

In [81]:
for cat in categorial:
    dummies = pd.get_dummies(X_train[cat], drop_first = True, dtype = int)
    X_train = X_train.join(dummies)
    X_train.drop(columns = [cat], inplace = True)

In [82]:
X_train.drop(columns=['yes'], inplace=True)

In [83]:
for cat in categorial:
    dummies = pd.get_dummies(X_test[cat], drop_first = True, dtype = int)
    X_test = X_test.join(dummies)
    X_test.drop(columns = [cat], inplace = True)

Modelado y optimizado

In [84]:
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn

best_model = grid_lr(X_train, y_train)
preds = best_model.predict(X_test)
print(classification_report(y_test, preds))

              precision    recall  f1-score   support

           0       0.97      0.91      0.94     10965
           1       0.52      0.78      0.62      1392

    accuracy                           0.89     12357
   macro avg       0.74      0.84      0.78     12357
weighted avg       0.92      0.89      0.90     12357

In [86]:
pip install imbalanced-learn

Defaulting to user installation because normal site-packages is not writeable
Collecting imbalanced-learn
  Downloading imbalanced_learn-0.12.3-py3-none-any.whl (258 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 258.3/258.3 kB 4.2 MB/s eta 0:00:0000:01
Requirement already satisfied: numpy>=1.17.3 in /home/vscode/.local/lib/python3.10/site-packages (from imbalanced-learn) (2.1.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/vscode/.local/lib/python3.10/site-packages (from imbalanced-learn) (3.5.0)
Requirement already satisfied: joblib>=1.1.1 in /home/vscode/.local/lib/python3.10/site-packages (from imbalanced-learn) (1.4.2)
Requirement already satisfied: scikit-learn>=1.0.2 in /home/vscode/.local/lib/python3.10/site-packages (from imbalanced-learn) (1.5.2)
Requirement already satisfied: scipy>=1.5.0 in /home/vscode/.local/lib/python3.10/site-packages (from imbalanced-learn) (1.14.1)
Installing collected packages: imbalanced-learn
Successfully installed imbalanced-learn-0.12.3

[notice] A new release of pip is available: 23.0.1 -> 24.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [87]:
from imblearn.under_sampling import RandomUnderSampler
rus = RandomUnderSampler(random_state=1234)
X_train, y_train = rus.fit_resample(X_train, y_train)

In [88]:
best_model = grid_lr(X_train, y_train) 
preds = best_model.predict(X_test)
print(classification_report(y_test, preds))

              precision    recall  f1-score   support

           0       1.00      0.75      0.86     10965
           1       0.34      0.98      0.50      1392

    accuracy                           0.78     12357
   macro avg       0.67      0.87      0.68     12357
weighted avg       0.92      0.78      0.82     12357

El primer modelo parece predecir mejor el comportamiento de los datos basados en los f1-score. Sin embargo, si queremos ser mas restrictivos podemos usar el segundo que tiene mayor sensibilidad.